/** @define Site */
/*! superfly-css-component-site | MIT License | https://github.com/superfly-css/superfly-css-component-site/blob/master/LICENSE.md */

:root {
  --Site-min-width: 270px;
  --Site-min-height: 100%;
  --Site-background-color: #FFFFFF;
  --Site-margin: 0px;
}

.Site {
    background-color: var(--Site-background-color);
    min-height: var(--Site-min-height);
    min-width: var(--Site-min-width);
    margin: var(--Site-margin);
}

:root {
  --Site-header-height: 80px;
  --Site-header-width: 100%;
  --Site-header-background-color: transparent;
  --Site-header-padding: 1rem 1.5rem;
}

.Site-header {
  display: flex;
  height: var(--Site-header-height);
  width: var(--Site-header-width);
  background: var(--Site-header-background-color);
  padding: var(--Site-header-padding);
  box-shadow: 0 0 0.5rem rgba(0,0,0,.1);
}
